img {
    max-width: 200px;
    max-height: 400px;
    border-radius: 5px;
    padding-left: 20px;
}
a {
    color: rgb(174, 96, 248);
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    letter-spacing: 0.5px;
}
.profile {
    border: solid black 1px;
    border-radius: 10px;
    float:left;
    padding: 20px 0px 20px 10px;
    margin: 20px;
    background-color: rgb(226, 226, 226);
    width: 100%;
}
.projects {
    float:left;
    padding: 20px 0px 20px 10px;
    margin: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 100%;
}
.aboutme {
    float: left;
    padding: 20px 0px 20px 10px;
    margin: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 100%;
}
